.header{
    background-color: #FFD465;
}

.menu__logo{
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 28px;
text-transform: uppercase;
color: #231F20;
}

.nav{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
}

.menu__item {
    font-size:1.2rem;
    margin: 0 10px;
}