.courseProfile {
    max-width: 1400px;
    margin: 0 auto;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 30px;
}

.person__img{
   bottom: 0;
   left: 0;
   width: 170px;
   height: 250px;
}


@media (max-width:1024px) { 
    .card__profile {
        margin-top: 20px;
        width: 90%;
        margin: 0 auto;
    }
    .coursesList {
        width:100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:680px) { 
    .person__img{
        display: none;
     }
     .coursesList{
         margin: 20px 0;
     }
 }

@media (max-width:480px) { 
   
}
@media (max-width:320px) { 
   
}

